@import "tailwindcss";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    cupcake,
    black,
    forest;
}

@theme {
  --font-family-sans: Orbitron, ui-sans-serif, system-ui, sans-serif;
  --font-family-orbitron: Orbitron, ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    font-family: "Orbitron", ui-sans-serif, system-ui, sans-serif;
  }
}

@layer utilities {
  .font-orbitron {
    font-family: "Orbitron", ui-sans-serif, system-ui, sans-serif;
  }
}
